<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.StockMapper">

    <!-- 结果映射 -->
    <resultMap id="BaseResultMap" type="org.example.entity.Stock">
        <id column="id" property="id" />
        <result column="ts_code" property="tsCode" />
        <result column="symbol" property="symbol" />
        <result column="name" property="name" />
        <result column="area" property="area" />
        <result column="industry" property="industry" />
        <result column="cnspell" property="cnSpell" />
        <result column="market" property="market" />
        <result column="list_date" property="listDte" />
        <result column="act_name" property="actName" />
        <result column="act_ent_type" property="actEntType" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>


    <!-- 批量插入 -->
    <insert id="batchInsert" parameterType="list">
        INSERT INTO stock(ts_code, symbol, name, area, industry,cnspell,market,list_date,act_name,act_ent_type)
        VALUES
        <foreach collection="stocks" item="stock" separator=",">
            (#{stock.tsCode}, #{stock.symbol}, #{stock.name},
            #{stock.area}, #{stock.industry}, #{stock.cnSpell}, #{stock.market}, #{stock.listDte}, #{stock.actName}, #{stock.actEntType})
        </foreach>
    </insert>
</mapper>